body {
  margin: 0;
  padding: 0%;
 background-color: rgb(220, 221, 221);
overflow: hidden;
}

main {
  padding: 0;
  width: 70%;
  height: 90vh;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  border-radius: 10px;
  box-shadow: .5px 3px 6px rgb(185, 185, 185);
  display: grid;
  grid-template-columns: .8fr 1.2fr;
  overflow: hidden;
}

.left {
  background: linear-gradient(#6CB4EE, #0066b2);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 1000;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 0;
}
.info {
color: white;
font-family: 'Open Sans', sans-serif;
font-size: 1.2rem;
text-align: center;
}

.signIn {
 background-color: transparent;
width: 220px;
height: 50px;
font-size: 1.2rem;
border-color: white;
border-style: solid;
border-width: 2px;
color: white;
font-family: 'Open Sans', sans-serif;
border-radius: 25px;
margin-top: 5%;
}

.square {
  width: 45px;
  height: 45px;
  background-color: #6CB4EE;
  opacity: 1;
transform: rotate(45deg);
margin-top: 10%;
margin-right: -45%;
}

.triangle {
  width: 250px;
  height: 250px;
  transform: rotate(80deg);
  z-index: -1;
  position: absolute;
  background-color: #D2122E;
 top: -10%;
 right: 8%;
}


.outer-circle {
  transform: rotate(90deg);
  z-index: -1;
  position: absolute;
  margin-top: 27.75%;
  margin-left: 3.5%;
}

.circle {
  margin-top: 5%;
  margin-left: -60%;
  transform: rotate(-90deg);
  opacity: .5;
}

.create {
  color: #0066b2;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.8rem;
  font-weight: 1000;
  text-align: center;
  margin-top: 12%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-top: 0;
  padding-top: 0;
  padding: 5px;
}

.fa-facebook-f {
  font-size: 1.2rem;
  border-style: solid;
text-align: center;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 15px;
padding-right: 15px;
border-radius: 35px;
border-color: rgb(211, 211, 212);
}

.fa-google-plus-g {
  font-size: 1.2rem;
  border-style: solid;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
padding-right: 10px;
border-radius: 35px;
border-color: rgb(211, 211, 212);
}

.fa-linkedin-in {
  font-size: 1.2rem;
  border-style: solid;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
padding-right: 15px;
border-radius: 35px;
border-color: rgb(211, 211, 212);
}