* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0%;
 background-color: rgb(220, 221, 221);
overflow: hidden;
height: 100%;
}

.wrapper {
  position: absolute;
  width: 75%;
  padding-bottom: 40%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: none;
}

.main {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: .5px 5px 6px rgb(185, 185, 185);
  display: grid;
  grid-template-columns: .8fr 1.2fr;
}


.left {
  background: linear-gradient(#6CB4EE, #0066b2);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;
  height: 100%;
}

.welcome {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.7vw;
  font-weight: 1000;
  text-align: center;
  padding-top: 19%;
  margin-bottom: 0;
  position: relative;
}
.info {
color: white;
font-family: 'Open Sans', sans-serif;
font-size: 1.2vw;
text-align: center;
padding-top: 3%;
}

.signIn {
 background-color: transparent;
padding-top: 2%;
padding-bottom: 2%;
padding-left: 15%;
padding-right: 15%;
font-size: 1.1vw;
border-color: white;
border-style: solid;
border-width: .15vw;
color: white;
font-family: 'Open Sans', sans-serif;
border-radius: 22vw;
margin-top: 12%;
z-index: 1;
box-shadow: inset 0 0 0 0 rgb(220, 221, 221);
transition: ease-out 0.15s;
cursor: pointer;
}

.square {
  width: 8%;
  background-color: #6eb7f3;
  opacity: 1;
transform: translate(350%, 150%) rotate(45deg);
}

.square:before {
  content: "";
 display: block;
 padding-top: 100%;
}


.inner-circle {
  position: relative;
background-color: #6ab0e9;
 width: 57%;
  border-radius: 100%;
  transform: translate(-85%, 20%);
 z-index: 1;
 opacity: .6;
}

.inner-circle:before {
  content: "";
  display: block;
  padding-top: 90%;
}

.right {
  display: flex;
  flex-direction: column;
}

.create {
  color: #0066b2;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vw;
  font-weight: 1000;
  text-align: center;
  margin-top: 10%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
  margin-top: 0;
  padding-top: 0;
}

.facebook {
  font-size: 1vw;
  border-style: solid;
  border-width: .2vw;
text-align: center;
padding-top: 1.4%;
padding-bottom: 1.4%;
padding-left: 2%;
padding-right: 2%;
border-radius: 22vw;
border-color: rgb(211, 211, 212);
color: black;
}

.google {
  font-size: 1vw;
  border-style: solid;
  text-align: center;
  border-width: .2vw;
  padding-top: 1.4%;
padding-bottom: 1.4%;
padding-left: 1.3%;
padding-right: 1.3%;
border-radius: 22vw;
border-color: rgb(211, 211, 212);
color: black;
}

.linkedIn {
  font-size: 1vw;
  border-style: solid;
  text-align: center;
  border-width: .2vw;
  padding-top: 1.4%;
  padding-bottom: 1.4%;
  padding-left: 1.7%;
  padding-right: 1.7%;
border-radius: 22vw;
border-color: rgb(211, 211, 212);
color: black;
}

.info2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1vw;
  text-align: center;
  margin-top: 5%;
}

.form {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 80%;
  height: 20%;
  grid-template-columns: 1fr 1fr;
  row-gap: 10%;
 justify-items: center;
}

.labelGroup > label {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: .9vw;
}

.labelGroup {
width: 80%;
}

.labelGroup > input {
width: 100%;
border: none;
background-color: rgb(225, 227, 235);
font-family: 'Open Sans', sans-serif;
font-size: .9vw;
padding-left: 4%;
padding-top: 2%;
padding-bottom: 2%;
}

.signUp {
  padding-top: 1.7%;
  padding-bottom: 1.7%;
  padding-left: 12%;
  padding-right: 12%;
  font-size: 1.1vw;
font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
margin-top: 10%;
border-radius: 22vw;
border-style: none;
background-color: #0066b2;
color: white;
box-shadow: .5px 2px 6px rgb(185, 185, 185);
grid-column: span 2;
}


#nonActive {
  display: none;
}
/*LEFT 2 CONTENT */
.left2 {
display: flex;
flex-direction: column;
}

.signIn-title {
  color: #0066b2;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4vw;
  font-weight: 1000;
  text-align: center;
  margin-top: 12%;
}

.orUse {
  font-family: 'Open Sans', sans-serif;
font-size: .9vw;
text-align: center;
padding-top: 3%;
}

.signInForm {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: 50%;
  align-items: center;
  padding: 0%;

}

.left2Email {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1vw;
 width: 91%;
 padding-bottom: 3%;
 height: 18%;
}

.left2Password {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1vw;
  width: 91%;
  padding-top: 3%;
  height: 18%;
}

.left2Email > input {
  width: 100%;
height: 85%;
border: none;
background-color: rgb(225, 227, 235);
font-family: 'Open Sans', sans-serif;
font-size: .9vw;
padding-left: 4%;
}

.left2Password > input {
  width: 100%;
height: 85%;
border: none;
background-color: rgb(225, 227, 235);
font-family: 'Open Sans', sans-serif;
font-size: .9vw;
padding-left: 4%;
}

.forgotP {
  font-family: 'Open Sans', sans-serif;
font-size: .9vw;
padding-top: 8%;
text-decoration: underline;
text-decoration-color: rgb(219, 219, 219);
text-underline-offset: 35%;
text-decoration-thickness: .2vw;
color: black;
font-weight: 600;
}

.signIn2 {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 14.5%;
  padding-right: 14.5%;
  font-size: 1.1vw;
font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
margin-top: 10%;
border-radius: 22vw;
border-style: none;
background-color: #0066b2;
color: white;
box-shadow: .5px 2px 6px rgb(185, 185, 185);
cursor: pointer;
}

/*LEFT 2 CONTENT END*/

/*RIGHT 2 CONTENT */
.right2 {
  background: linear-gradient(#6CB4EE, #0066b2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square2 {
  width: 0; height: 0;
border-left: 6.5vw solid transparent;
border-right: 6.5vw solid transparent;
border-bottom: 19vw solid #74b3e7;
opacity: .4;
transform: translate(50%, -20%) rotate(-95deg);
position: absolute;
}

.right2Title {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.7vw;
  font-weight: 1000;
  text-align: center;
  padding-top: 35%;
  margin-bottom: 0;
}

.journeyText {
  color: white;
font-family: 'Open Sans', sans-serif;
font-size: 1.1vw;
text-align: center;
padding-top: 3%;
font-weight: 550;
}

.signUp2 {
  background-color: transparent;
padding-top: 2%;
padding-bottom: 2%;
padding-left: 15%;
padding-right: 15%;
font-size: 1.1vw;
border-color: white;
border-style: solid;
border-width: .15vw;
color: white;
font-family: 'Open Sans', sans-serif;
border-radius: 22vw;
margin-top: 5%;
z-index: 1;
box-shadow: inset 0 0 0 0 rgb(220, 221, 221);
transition: ease-out 0.15s;
cursor: pointer;
}

.square3 {
  position: absolute;
  width: 2%;
  background-color: #74b3e7;
  opacity: .3;
  transform: translate(950%, 1620%) rotate(65deg);
}

.square3::before {
  content: "";
 display: block;
 padding-top: 100%;
}

.circle2 {
  position: absolute;
  width: 3%;
  background-color: #74b3e7;
  opacity: .2;
  transform: translate(-400%, 1300%);
  border-radius: 100%;
}

.circle2::before {
  content: "";
 display: block;
 padding-top: 100%;
}


.triangle2 {
  width: 0; height: 0;
border-left: 3vw solid transparent;
border-right: 3vw solid transparent;
border-bottom: 5vw solid #74b3e7;
opacity: .1;
transform: translate(60%, 700%) rotate(170deg);
position: absolute;
}

/*RIGHT 2 CONTENT END*/

/* Hovers */
.signIn:hover {
box-shadow: inset 9.8vw 0 0 0 white, .3px .5px 6px rgb(65, 65, 65);
color: #0066b2;
}

.signUp:hover {
 background-color: white;
  color: #0066b2;
  border-style: solid;
  border-color: #0066b2;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 12%;
  padding-right: 12%;
}

.signUp2:hover {
  box-shadow: inset 10.1vw 0 0 0 white, .3px .5px 6px rgb(65, 65, 65);
color: #0066b2;
}


.signIn2:hover {
  background-color: white;
  color: #0066b2;
  border-style: solid;
  border-color: #0066b2;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 14%;
  padding-right: 14%;
}

.facebook:hover {
  border-color: #0066b2;
}
.google:hover {
  border-color: #0066b2;
}
.linkedIn:hover {
  border-color: #0066b2;
}

input:focus {
  outline-color: #0066b2;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:invalid {
  outline-color: red;
}

input:valid {
  outline-color: #0066b2;
}

@media (max-width: 900px) {
  /* Group One */
  .wrapper {
    width: 85%;
    padding-bottom: 55%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .welcome {
    font-size: 3.2vw;
    padding-top: 30%;
  }

  .info {
    font-size: 1.5vw;
    padding-top: 3.5%;
    }

    .signIn {
     padding-top: 2%;
     padding-bottom: 2%;
     padding-left: 15%;
     padding-right: 15%;
     font-size: 1.4vw;
     border-radius: 22vw;
     margin-top: 14%;
     }

     .square {
      width: 8%;
      background-color: #6eb7f3;
      opacity: 1;
    transform: translate(350%, 200%) rotate(45deg);
    }

    .inner-circle {
      transform: translate(-85%, 35%);
    }

    .create {
      font-size: 3vw;
      margin-top: 18%;
    }

    .facebook, .google, .linkedIn  {
      font-size: 1.3vw;
    }
    
    .info2 {
      font-size: 1.2vw;
    }
    
    .form {
      height: 25%;
      margin-top: 2%;
    }
    
    .labelGroup > label {
      font-size: 1vw;
    }
       
    .labelGroup > input {
    font-size: 1vw;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    }
    
    .signUp {
      font-size: 1.4vw;
    }
 /* Group One End*/

 /* Group Two*/
 .signIn-title {
  font-size: 2.9vw;
  margin-top: 18%;
}

.orUse {
font-size: 1vw;
}

.forgotP {
font-size: 1vw;
padding-top: 9%;
text-underline-offset: 35%;
text-decoration-thickness: .3vw;
}

.signIn2 {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 14.5%;
  padding-right: 14.5%;
  font-size: 1.4vw;
margin-top: 15%;
}

.square2 {
border-left: 7vw solid transparent;
border-right: 7vw solid transparent;
border-bottom: 20vw solid #74b3e7;
}

.right2Title {
  font-size: 3vw;
  padding-top: 45%;
}

.journeyText {
font-size: 1.3vw;
}

.signUp2 {
font-size: 1.4vw;
margin-top: 12%;
}

.circle2 {
  transform: translate(-450%, 1500%);
}

.triangle2 {
transform: translate(60%, 950%) rotate(170deg);
}
}

@media (max-width: 585px) {
  /* Group One*/
body {
background-color: #6bade4;
}


  .wrapper {
    width: 100%;
    height: 100%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    overflow-x: hidden;
  }
  
  .main {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
  }

  .left {
    height: 50%;
    width: 100%;
    overflow: hidden;
  }

  .welcome {
    font-size: 5.5vw;
    position: relative;
   padding-top: 0%;
   margin-top: 10vh;
  }
  .info {
  font-size: 2.2vw;
  position: relative;
  padding-top: 0%;
  margin-top: 3vh;
  }
  
  .signIn {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 11%;
  padding-right: 11%;
  font-size: 2.2vw;
  margin-top: 8vh;
  }
  
  .square {
    position: absolute;
    width: 5%;
  transform: translate(0, 0) rotate(45deg);
  margin-top: 5vh;
  margin-right: -70%;
  opacity: .6;
  }

  .inner-circle {
    position: relative;
  background-color: #6ab0e9;
   width: 20%;
    border-radius: 100%;
    transform: translate(0, 0);
    margin-top: 2vh;
    margin-left: -60%;
    opacity: .3;
  }

  .inner-circle:before {
    content: "";
    display: block;
    padding-top: 80%;
  }

  .create {
    font-size: 5vw;
    margin-top: 6vh;
  }

.facebook, .google, .linkedIn {
  font-size: 2vw;
}

.info2 {
  font-size: 2vw;
}

.labelGroup > label {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6vw;
}

.labelGroup > input {
width: 100%;
border: none;
background-color: rgb(225, 227, 235);
font-family: 'Open Sans', sans-serif;
font-size: 1.5vw;
padding-left: 4%;
padding-top: 3%;
padding-bottom: 3%;
}

.signUp {
  padding-top: 1.7%;
  padding-bottom: 1.7%;
  padding-left: 12%;
  padding-right: 12%;
  font-size: 2.2vw;
margin-top: 5%;
}
/* Group One End*/

/* Group Two */
.left2 {
  height: 50%;
  width: 100%;
  overflow: hidden;
  }
  
  .signIn-title {
    font-size: 4.5vw;
    margin-top: 7vh;
  }
  
  .orUse {
  font-size: 2.1vw;
  }

  .signInForm {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 50%;
    align-items: center;
    padding: 0%;
  
  }
  
  .left2Email {
    font-size: 2vw;
  }
  
  .left2Password {
    font-size: 2vw;
  }
  
  .left2Email > input {
  font-size: 2vw;
  }
  
  .left2Password > input {
  font-size: 2vw;
  }
  
  .forgotP {
  font-size: 2vw;
  text-decoration-thickness: .5vw;
  }
  
  .signIn2 {
    font-size: 2.2vw;
  }

  .right2 {
    height: 50%;
    width: 100%;
    overflow: hidden;
  }

  .square2 {
  border-left: 8vw solid transparent;
  border-right: 8vw solid transparent;
  border-bottom: 30vw solid #74b3e7;
  opacity: .4;
  transform: translate(0, 0) rotate(-95deg);
  position: relative;
  margin-right: -50%;
  margin-bottom: 0%;
  }
  
  .right2Title {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 5.2vw;
    font-weight: 1000;
    text-align: center;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: -3.5vh;
  }
  
  .journeyText {
    color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2vw;
  text-align: center;
  padding-top: 3%;
  font-weight: 550;
  }
  
  .signUp2 {
    background-color: transparent;
  padding-top: 1.8%;
  padding-bottom: 1.8%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2vw;
  margin-top: 10%;
  }
  
  .circle2 {
    position: relative;
    width: 3%;
    transform: translate(0, 0);
    border-radius: 100%;
    margin-left: -50%;
  }

  .triangle2 {
    width: 0; height: 0;
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  border-bottom: 5vw solid #74b3e7;
  opacity: .1;
  transform: translate(0, 0) rotate(170deg);
  position: relative;
  margin-right: -40%;
  }

  }